if BLOCK

menu "IO Schedulers"

config IOSCHED_DEADLINE
	tristate "Deadline I/O scheduler"
	default y
	---help---
	  The deadline I/O scheduler is simple and compact. It will provide
	  CSCAN service with FIFO expiration of requests, switching to
	  a new point in the service tree and doing a batch of IO from there
	  in case of expiry.

choice
	prompt "Default I/O scheduler"
	default DEFAULT_DEADLINE
	help
	  Select the I/O scheduler which will be used by default for all
	  block devices.

	config DEFAULT_DEADLINE
		bool "Deadline"

endchoice

config DEFAULT_IOSCHED
	string
	default "deadline"

endmenu

endif
